*~*
DataViz2/data/GlobalLandTemperaturesByCity.csv
DataViz2/data/GlobalLandTemperaturesByCountry.csv
DataViz2/data/GlobalLandTemperaturesByMajorCity.csv
DataViz2/data/GlobalLandTemperaturesByState.csv
DataViz2/data/GlobalTemperatures.csv
DataViz2/data/GlobalTemperatures.xlsx