*~*
DataViz2/data/GlobalLandTemperaturesByCity.csv
DataViz2/data/GlobalLandTemperaturesByCountry.csv
DataViz2/data/GlobalLandTemperaturesByMajorCity.csv
DataViz2/data/GlobalLandTemperaturesByState.csv
DataViz2/data/GlobalTemperatures.csv
DataViz2/data/GlobalTemperatures.xlsx
DataViz2/data/GlobalLandTemperatureAveragesByCity1850on.csv
DataViz2/data/GlobalLandTemperaturesByCity1850on.csv
DataViz2/data/GlobalLandTemperaturesByMajorCity1850on.csv